/* General styles */

html, body {
    margin: 0;
    padding: 0;
    background-image: url('/eed/images/Grass.gif');
    color: #333;
    font-family: Arial;
}


/* Surrounding styles */

#container {
    width: 1050px;
    position: relative;
    margin: auto;
}


/* GUI styles */

#gui {
    width: 100%;
    padding-right: 140px;
    box-sizing: border-box;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gui #display {
    position: relative;
    height: 560px;
}

#gui .gridline {
    position: absolute;
    border: 1px solid rgba(245, 215, 140, .14);
}

#gui .gridline.gridrow {
    width: 100%;
    height: 0;
}

#gui .gridline.gridcol {
    width: 0;
    height: 100%;
}

#gui .building {
    position: absolute;
    text-align: center;
    font-size: 1.33em;
    background-image: url('/eed/images/House.png');
    background-size: 100% 100%;
}

#gui .building.source {
    font-size: 1.75em;
    z-index: 7;
    background-image: url('/eed/images/Tower.png');
    box-sizing: border-box;
}

#gui .building big {
    position: absolute;
    display: inline-block;
    margin: 126px 0 0 -1.17em;
    padding: 3px 7px;
    background: rgba(245,245,245,.84);
    border: 1px solid rgba(210, 140, 140, .49);
    font-size: 1.4em;
}

#gui .building small {
    position: absolute;
    display: inline-block;
    margin: 118px 0 0 0;
    padding: 1px 3px;
    background: rgba(227,227,227,.91);
    border: 1px solid rgba(210, 140, 140, .49);
}

#gui .scenery {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center
}

#gui .scenery.tree {
    background-image: url('/eed/images/Tree.png');
}

#gui .scenery.flower {
    background-size: auto;
    background-image: url('/eed/images/Flower A.png');
}
#gui .scenery.flower:nth-of-type(2n) {
    background-image: url('/eed/images/Flower B.png');
}

#gui .floating {
    position: absolute;
}

#gui .drone {
    transition: 700ms transform;
    border: 3px solid white;
    border-radius: 100%;
    background: rgba(255, 255, 255, .35);
    box-shadow: 0 0 14px 3px white;
}

#gui .drone img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#gui .drone .blade {
    width: 50%;
    height: 50%;
}
}
#gui .drone .blade:nth-of-type(1) {
    left: 0;
    top: 0;
}
#gui .drone .blade:nth-of-type(2) {
    right: 0;
    top: 0;
}
#gui .drone .blade:nth-of-type(3) {
    right: 0;
    bottom: 0;
}
#gui .drone .blade:nth-of-type(4) {
    left: 0;
    bottom: 0;
}

#gui .cargo {
    width: 21px;
    height: 21px;
    border-radius: 75%;
    box-shadow: 0 7px 7px black;
    background: brown;
}


/* Sidebar styles */

#sidebar {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    background: rgba(245, 255, 245, .96);
    border: 2px solid silver;
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 7px 7px;
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
    text-align: center;
}

#sidebar h1 {
    margin: 3px 3px 14px 3px;
}

#sidebar select {
    font-size: 1.75em;
}

#sidebar button {
    font-size: 2.8em;
}

#sidebar hr {
    margin: 21px 0;
}

#sidebar #sidebarOptions {
    text-align: center;
    padding-right: 21px;
    cursor: pointer;
}

#sidebar .option,
#sidebar .action {
    margin: 3px 0;
    padding: 7px;
    width: 100%;
    background: rgba(252, 255, 255, .84);
    border: 1px solid black;
    font-size: 1.75em;
    cursor: pointer;
    transition: 49ms background;
}

#sidebar .option:active {
    list-style-type: none;
}

#sidebar .option:hover {
    background: white;
}

#sidebar #sidebarDescription {
    margin-top: 14px;
    font-size: 1.17em;
    font-style: italic;
}

#sidebar #sidebarPlay {
    width: 100%;
    cursor: pointer;
}


/* Scoring layout */

#scoring {
    margin: auto;
    margin-top: 35px;
    padding-bottom: 7px;
    background: rgba(245, 255, 245, .96);
    border: 3px solid silver;
    border-radius: 7px;
    box-shadow: 0 0 3px black;
    text-align: center;
}

#scoring.solved {
    background: rgb(21, 140, 49);
    color: white;
}

#scoring.unsolved {
    background: rgb(175, 98, 21);
    color: white;
}

#scoring #score {
    display: inline-block;
    padding-top: 7px;
    font-size: 2.1em;
}

#scoring #score:empty {
    display: block;
}

#scoring #score:empty + br {
    display: none;
}

#scoring aside {
    display: inline;
    font-size: 1.4em;
    font-style: italic;
}

/* Responsive design */

@media screen and (max-width: 350px) {
    #gui {
        display: block;
        position: static;
        padding-right: 0;
    }
    
    #sidebar {
        display: block;
        position: static;
        width: 100%;
    }
}